<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.age}"></td>
        <td th:text="${member.grade}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
<div class="container">
  <div>
    <p>
      <a href="/basic/members/addMemberForm">회원 가입</a>
      <a href="/">메인 으로</a>
    </p>
  </div>
</div> <!-- /container -->
</body>
</html>